* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  &::after,
  &::before {
    @extend *;
  }
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
